<h1>Send this to your favorite DevOps person</h1>
<p>
It's safe to send via HipChat or email.<br>
This hashing process is a one way process.<br>
In other words, based on these, it's almost impossible to retreive your password.
</p>
<p>Unless your password is "superman", that is.</p>

<pre><code>
<%= JSON.pretty_generate hashes %>
</code></pre>
