<h1>Enter your desired password</h1>
<p>Note that it won't be saved as is. It will be hashed first (a one way process).</p>
<form method="post" action="/encode">
  <input type="password" name="password"></input>
  <input type="submit" value="Encode"></input>
</form>
