<h1>Choose your password</h1>
<p>Note that this website doesn't save anything.<br>
Your password will be hashed (a safe, one way process) and displayed to you.<br>
Then you'll have to forward this information to your favorite DevOps person.</p>

<form method="post" action="/encode">
  <input type="password" name="password"></input>
  <input type="submit" value="Encode"></input>
</form>
